annotated-types==0.6.0
greenlet==3.0.3
numpy==1.24.4
pandas==2.0.3
pydantic==2.7.1
pydantic_core==2.18.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
tzdata==2024.1
psycopg2==2.9.9
